azure-search-documents==11.4.0b3
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.16.0
azure-identity==1.13.0b4
python-dotenv
openai
langchain
tenacity
redlines
panel
jupyter_bokeh
tiktoken
docx2txt
streamlit
streamlit-chat
scikit-learn
bs4
pinecone-client
wikipedia
pypdf
yt_dlp
pydub